body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    text-align: center;
    font-family: Arial;
}

.hidden { display: none; }

#game-board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    width: 80%;
    margin: auto;
    gap: 10px;
}

.card {
    background: #333;
    border-radius: 8px;
    height: 80px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}

.card.flipped {
    background: yellow;
    color: black;
    transform: scale(1.1);
}

#tournament {
    background: gold;
    color: black;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px gold;
    font-weight: bold;
}